*{
    margin: 0;
    padding: 0;
}
html,body{
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 15px;

    h1{
        margin-bottom: 30px;
        text-align: center;
    }
    p{
        text-align: center;
    }
}